<li>
  <img class='avatar' src=''/>
  <div>
    <a class='name' href='#'><%= comment.commenter_name %></a>
    <span class='time'><%= l comment.created_at, :format => :datetime %></span>
    <div class='content'>
      <%= comment.content %>
    </div>
  </div>
</li>
