<li>
  <%= image_tag 'learning/avatar.jpg', :class => 'avatar' %>
  <div class='content'>
    <header>
      <span class='name'><%= comment.commenter_name %></span>
      <span class='time'><%= l comment.created_at, :format => :long %></span>
    </header>
    <div class='content'>
      <%= comment.content %>
    </div>
  </div>
</li>
