<div id='info'>
  <h1>专题管理</h1>
</div>
<div id='table'>
  <%= link_to '新建专题', new_subject_path %>
  <table>
    <tr>
      <th>专题名称</th>
      <th>操作</th>
    </tr>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td>
          <%= link_to '修改', edit_subject_path(subject) %>
          <%= link_to '删除', subject, :method => :delete, :data => {:confirm => "确实要删除“#{subject.name}”吗？"} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
