<h2>学员信息</h2>
<div>用户名：<%= current_user.username %></div>
<div>姓名：<%= current_user.name %></div>
<div>性别：<%= show_gender current_user %></div>
<h2>在学课程</h2>
<ul class='topic-learnings'><%= render :partial => 'topic_learning', :collection => current_user.topic_learnings %></ul>
