<%= form_for @answer, :remote => true, :html => {:id => 'edit-answer', 'data-answer-id' => @answer.id } do |f| %>
  <div>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit '提交' %>
  </div>
<% end %>
