<% content_for(:title){ "专题考核历史" } %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to '首页', learning_root_path %></li>
        <li class="active">专题考核历史</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <%= render :partial => 'learning/topic_exams/topic_exams', :locals => {:topic_exams => @topic_exams} %>
</div>
