<h1><%= current_topic_learning.name %>资料扩展</h1>
<ul class='case-analyses'>
  <% @materials.each do |material| %>
    <li><%= link_to material.title, material %></li>
  <% end %>
</ul>
<%= paginate @materials %>
