<% content_for(:title){ @article.title } %>
<h1><%= @article.title %></h1>
<div>
  <span>编辑: <%= @article.editor_name %></span>
  <span>发布时间: <%= l @article.created_at, :format => :long %></span>
</div>
<%= raw @article.content %>
