@import "bootstrap";
@import "compass";

body {
  margin-top: 110px;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;

  .navbar-global,
  .navbar-site {
    border-width: 0 0 1px;
    margin-bottom: 0;
    @include border-radius(0);
  }

  .navbar-global {
    min-height: 0;
    ul.navbar-nav {
      > li {
        > a {
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
    }
  }

  .navbar-form {
    input.form-control {
      width: 360px;
    }
  }
}

footer {
  
  margin-top: 60px;

  > .container {
    border-top: solid 1px #e5e5e5;
    padding-top: 15px;
  }

  p {
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    color: $gray-light;
  }
}