@import 'variables';
@import 'mixin';

#question-show {
  h1 {
    @include question-title;
  }

  .answers {
    overflow: hidden;
  }

  .question, .answers > li {
    .addition {
      display: inline-block;
      span {
        margin-right: 10px;
        font-size: $minor-font-size;
        color: #999;
      }
    }

    .actions {
      font-size: $minor-font-size;
      margin-left: 10px;
      display: inline-block;
    }

    .content {
      @include article;
      margin: 10px 0;
    }
  }

  .question {
    margin-bottom: $question-list-spacing;
    overflow: hidden;
  }

  .answers {
    border-top: 1px solid #ddd;
    &> li {
      margin: $question-list-spacing 0;
      overflow: hidden;

      &> .comments {
        @include comment-list;
        margin-top: 20px;
        margin-bottom: 0;
        clear: both;
      }
    }
  }

  .new-answer {
    overflow: hidden;
    textarea {
      width: $answer-textarea-width;
      height: 150px;
    }
    
    input[type=submit] {
      float: right;
    }
  }
}

#question-index {
  h3 {
    @include question-title;
  }

  .top-questions, .questions {
    li {
      margin-bottom: $question-list-spacing;

      .content {
        margin: 10px 0;
        @include article;
      }
    }
  }
}
