// layout 变量
$layout-bg: #e9eaee;

// bootstrap 变量覆盖
$brand-primary: #4496D2;
$brand-complement: #45C7D4;
$brand-inverse: #F0A920;
$brand-dark: #383C4A;
$brand-darker: #262A32;
$icon-font-path: "../bootstrap-sass/bootstrap/fonts/";
$hr-border: darken($layout-bg, 3%);
$page-header-border-color: darken($layout-bg, 3%);
$well-bg: #fff;
$well-border: #ddd;

// 组件变量覆盖
$timeline-axis-offset-horizontal: 22px;

// 加载 bootstrap
@import "../bootstrap-sass/bootstrap";

// 加载组件
@import "components/navs";
@import "components/media";
@import "components/panel";
@import "components/button";
@import "components/navbar";
@import "components/carousel";
@import "components/well";
@import "components/info";
@import "components/type";
@import "components/grid";
@import "components/profile";
@import "components/timeline";
@import "components/topic";

// 加载项目
@import "app/layout";
@import "app/unit_exams";