@import 'variables';
@import 'mixin';

#header {
  height: 90px;
  width: 100%;
  background: $blue;
  color: $white;

  .wrapper {
    width: $content-width;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;

    h1 {
      font-size: 30px;
      float: left;
      margin-top: 30px;
    }
    
    #user {
      float: right;
    }

    #navigator {
      float: left;
      margin: 44px 0 0 16px;
      li {
        display: inline-block;
        a{
          border-radius: 3px;
          padding: 10px 15px;
          color: $white;
          &:hover {
            background: darken($blue, 10%);
          }
        }
      }
    }

    #topic-selector {
      float: right;
      margin-top: 39px;
      @include drop-down;
    }
  }
}

#content {
  width: $content-width;
  margin: 0 auto;
}

#footer {
  color: #444;
  background: #e8e8e8;
  padding: 25px 0;
  .wrapper {
    width: $content-width;
    margin: 0 auto;
    text-align: center;
  }
}
