@import 'variables';
@import 'mixin';

$header-title-size: 36px;
$header-height: $header-title-size * 1.5;
$navigator-font-size: 16px;

@mixin header-button {
  padding: 0 15px;
  &:hover, &.current {
    background: darken($blue, 10);
  }
}

#header {
  background: $blue;
  color: $white;
  border-bottom: 1px solid #5c87bc;
  a {color: $white;}
  .wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 54px;
    h1 {
      float: left;
      font-size: $header-title-size;
      font-weight: bold;
      line-height: $header-height;
    }
    #navigator {
      float: left;
      margin-left: 80px;
      font-size: $navigator-font-size;
      font-weight: bold;
      li{
        @include header-button;
        float: left;
        @each $item in home, cases, ask, supervision, guide {
          &.#{$item} a{
            display: block;
            padding-left: 20px;
            background: asset-url('learning/#{$item}.png') no-repeat left center;
          }
        }
      }
    }

    #account {
      float: right;
      @include header-button;
      .avatar {
        height: 25px;
        width: 25px;
        vertical-align: middle;
      }
      .menu {
        position: absolute;
        background: $blue;
        padding: 5px 10px;
        line-height: 1em;
        li {
          margin: 5px 0;
          a {
            &:hover {
              background: $white;
              color: $blue;
            }
          }
        }
      }
    }
  }
}

#content {
  width: $content-width;
  margin: 0 auto;
  border-bottom: 1px solid $gray;
}

#footer {
  width: $content-width;
  margin: 20px auto;
  text-align: center;
}
