@mixin article-typesetting {
  line-height: 1.5em;
  word-wrap: break-word;
  text-align: justify;
  hyphens: auto;
}

@mixin drop-down-button {
  display: block;
  cursor: pointer;
  color: $white;
  padding: 2px 2px 2px 12px;
  border-left: 2px solid $blue;
  background: $blue asset-url('learning/expand-down.png') no-repeat left center;
  &:hover {
    border-color: darken($blue, 10%);
    background-color: darken($blue, 10%);
  }
}

@mixin drop-down-list {
  position: absolute;
  padding: 8px;
  background: $light-gray;
  border: 1px solid $gray;
  li {
    a {
      display: block;
      padding: 10px;
      &:hover {
        background: lighten($blue, 30%);
      }
    }
  }
}
