@import 'variables';
@import 'mixin';

$topic-name-size: 32px;

#topic-learning {
  #content {
    overflow: hidden;
    .current-topic-learning {
      overflow: hidden;
      h1 {
        font-size: 32px;
        padding: 0 5px 0 37px;
        line-height: 1em;
        float: left;
        background: asset-url('learning/topic.png') no-repeat left center;
      }
      .chapter-selector {
        float: left;
        span {
          line-height: 28px;
          @include drop-down-button;
        }
        ul {
          @include drop-down-list;
        }
      }
    }

    .user-info-and-announcements {
      padding: 20px 0;
      overflow: hidden;
      border-bottom: 1px solid $gray;
      .banner {
        float: left;
        .banner-pic {
          width: 700px;
        }
      }
      #user-and-announcements
      {
        float: right;
        width: 240px;
        .user-info {
          width: 100%;
          height: 80px;
          .avatar {
            float: left;
            width: 64px;
            height: 64px;
            margin-right: 20px;
          }
          .info {
            float: left;
            h1 {
              font-size: 24px;
            }
            div {
              margin-top: 10px;
              strong {
                color: $blue;
                font-weight: bold;
              }
            }
          }
        }

        .announcements {
          width: 100%;
          height: 166px;
          padding: 12px;
          background: $light-gray;
          border: 1px solid $gray;
          h1 {
            font-weight: bold;
          }
          ul {
            list-style: disc inside;
            li {
              margin: 1px 0;
            }
          }
        }
      }
    }
  }
  #chapters {
    float: left;
    margin: 20px 0;
    width: 660px;
    h1 {
      font-size: 24px;
      padding-left: 24px;
      margin-bottom: 20px;
      background: asset-url('learning/catalog.png') no-repeat left center;
    }
    ul {
      li {
        margin: 20px 0;
        overflow: hidden;

        &.open, &.guide {
          > h2 {
            background: $blue;
          }
        }

        &.guide {
          a {
            line-height: 35px;
            padding-right: 20px;
            background: asset-url('learning/expand.png') no-repeat right center;
          }
        }

        h2 {
          margin-right: 20px;
          width: 80px;
          height: 35px;
          color: $white;
          text-align: center;
          line-height: 35px;
          background: $dark-gray;
          float: left;
        }
        .learning {
          float: left;
          header {
            h3 {
              font-weight: bold;
              margin-right: 10px;
              display: inline-block;
            }
            .detail {
              color: $blue;
            }
          }
          > a {
            padding-right: 20px;
            &.expand {
              background: asset-url('learning/expand.png') no-repeat right center;
            }
            &.retract {
              background: asset-url('learning/retract.png') no-repeat right center;
            }
          }
          .units {
            width: 560px;
            .learning {
              > a {
                color: $blue;
                padding-right: 10px;
              }
            }
          }
        }
        .buttons {
          float: right;
          * {
            float: left;
            display: block;
            margin: 0 7px;
            line-height: 35px;
          }
          .average-score {
            font-size: 35px;
            color: $yellow;
          }
          a {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 3px;
            color: $white;
            &.start-learning {
              background: $blue;
            }
            &.start-exam {
              background: $yellow;
            }
          }
        }
      }
    }
  }

  #ask-and-supervision {
    margin: 20px 0;
    float: right;
    h1 {
      font-size: 24px;
      padding-left: 24px;
      margin-bottom: 20px;
    }

    ul {
      width: 250px;
      li {
        margin: 10px 0;
        padding-left: 20px;
        background: asset-url('learning/answer.png') no-repeat left center;
      }
    }

    .more {
      color: $blue;
      float: right;
    }


    #ask {
      margin-bottom: 20px;
      overflow: hidden;
      h1 {
        background: asset-url('learning/question.png') no-repeat left center;
      }
    }

    #supervision {
      overflow: hidden;
      h1 {
        background: asset-url('learning/blue-arrow.png') no-repeat left center;
      }
    }
  }
}
