@import 'variables';
@import 'mixin';

$orange: #fd6445;
$gray: #bbb;

@mixin unit-learning-button {
  padding: 6px 14px;
  margin: 10px 10px 10px 0;
  color: $white;
  border-radius: 3px;
  display: inline-block;
}

@mixin activity {
  margin: 30px 0;
  overflow: hidden;

  h1 {
    font-size: 18px;
    color: #444;
    padding-bottom: 10px;
  }
  ul {
    margin: 10px 0;
    li {
      margin: 10px 0;
      font-size: 14px;
      a {
        color: #4b6bb6;
      }
    }
  }
  .more {
    font-size: 14px;
    float: right;
    color: #444;
  }
}

#content {
  padding: 25px 0;
  overflow: hidden;
  #announcements {
    height: 72px;
    margin-bottom: 25px;
    background: #f2f2f2;
    border-radius: 3px;
    border: 1px solid $border-gray;
    li {
      display: inline-block;
      line-height: 36px;
      margin-left: 10px;
      width: 450px;
      
      a {
        color: #555;
      }
    }
  }

  #chapters {
    float: left;
    width: 640px;
     &> li {
      margin-bottom: 20px;
      width: 528px;

      h1 {
        font-size: 18px;
        line-height: 30px;
        color: $orange;
      }

      .units {
        &> li {
          margin: 10px 0;
          display: block;
          &> a {
            @include unit-learning-button;
            background: #009cff;
          }
          .inactive {
            @include unit-learning-button;
            background: $gray;
          }
        }
      }
      .state {
        font-size: 14px;
        span {
          margin-right: 12px;
        }

        .exam-history {
          position: relative;
          display: inline-block;
          .average-score {
            color: #4b6bb6;
            cursor: pointer;
          }
          ul {
            position: absolute;
            top: 16px;
            border: solid 1px $border-gray;
            border-radius: 3px;
            li {
              a {
                padding: 5px;
                display: block;
                background: $white;
                color: #4b6bb6;
              }
            }
          }
        }
      }
    }
  }

  #personal-activity {
    float: right;
    width: 300px;
    .info {
      padding: 25px;
      background: #f2f2f2;
      border-radius: 3px;
      overflow: hidden;
      .avatar {
        height: 100px;
        width: 100px;
        float: left;
      }
      .state {
        float: right;
        width: 135px;
        h1 {
          font-size: 20px;
          margin-bottom: 25px;
        }

        span {
          margin: 5px 0;
          display: block;
          font-size: 15px;
        }
      }
    }
    #ask {
      @include activity;
    }
    #supervision {
      @include activity;
    }
  }
}
