$font-color: #6c6c6c;
$content-width: 960px;
$blue: #6693ca;
$white: #fff;
$border-gray: #e4e4e4;
$light-black: #666;
$gray: #ededed;
$light-gray: #f9f9f9;
$dark-gray: darken($gray, 15%);
$yellow: #ff9900;
