@import 'variables';
@import 'mixin';

$player-width: 850px;
$video-selector-width: $content-width - $player-width;

#video-watching {
  #content {
    header {
    overflow: hidden;
      h1 {
        font-size: 24px;
        float: left;
      }
      .unit-selector {
        float: left;
        margin-top: 5px;
        span {
          @include drop-down-button;
          font-size: 13px;
        }
        ul {
          @include drop-down-list;
        }
      }
    }
    .player {
      margin: 20px 0;
      overflow: hidden;
      background: $gray;
      #video {
        float: left;
      }
      .video-selector {
        height: 100%;
        float: right;
        li {
          a {
            display: block;
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin: 5px;
            &:hover {
              background: $dark-gray;
            }
          }
        }
      }
    }
    .video-info {
      margin: 20px 0;
      span {
        margin-right: 20px;
      }
      .start-exam {
        display: inline-block;
        padding: 5px;
        background: $blue;
        color: $white;
        border-radius: 3px;
        &:hover {
          background: darken($blue, 10%);
        }
      }
    }
    .comments-and-notes {
      form {
        textarea {
          margin: 20px 0;
          width: 580px;
          height: 150px;
          border: 1px solid $gray;
        }
        input[type=submit] {
          display: block;
          border: none;
          border-radius: 3px;
          padding: 5px;
          background: $blue;
          color: $white;
          &:hover {
            background: darken($blue, 10%);
          }
        }
      }

      .switcher {
        overflow: hidden;
        border-bottom: 1px solid $gray;
        div {
          padding: 10px 0;
          background: $gray;
          float: left;
          margin-right: 5px;
          width: 96px;
          text-align: center;
          cursor: pointer;
          &:hover {
            background: $dark-gray;
          }
          &.current {
            background: $blue;
            color: $white;
          }
        }
      }
      .notes {
        ul {
          li {
            padding-left: 55px;
            background: asset-url('learning/note.png') no-repeat left center;
            min-height: 50px;
            header {
              margin-bottom: 5px;
              .record-at {
                date {
                  color: $blue;
                }
              }
              .video-time-point {
                margin-left: 10px;
                span {
                  color: $blue;
                }
              }
            }
          }
        }
      }
      .list {
        margin-top: 20px;
        ul {
          li {
            overflow: hidden;
            margin: 20px 0;
            .avatar {
              float: left;
              width: 56px;
              height: 56px;
              margin-right: 20px;
            }
            header {
              margin-bottom: 5px;
              .name {
                font-weight: bold;
              }
            }
          }
        }
        .pagination {
          span.current, span a {
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background: $dark-gray;
          }
          span.current {
            background: $gray;
          }
        }
      }
    }
  }
}
