<% content_for(:title){ "通知：#{@announcement.title}" } %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">通知</div>
				<div class="panel-body">
					<%= sanitize @announcement.content %>
				</div>
			</div>
		</div>
	</div>
</div>
