<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><%= link_to '首页', learning_root_path %></li>
				<li class="active">个人博客</li>
			</ol>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">

			<div class="panel panel-default">
				<div class="panel-heading">Blog</div>
				<div class="panel-body">
					<ul class="panel-nav">
						<% @blog_articles.each do |blog_article| %>
						<li><%= link_to blog_article.title, [:learning, blog_article] %></li>
						<% end %>
					</ul>
				</div>
			</div>

		</div>
		<div class="col-md-4">
			<%= link_to '写新文章', new_learning_blog_article_path, :class => 'btn btn-primary' %>
		</div>
	</div>
</div>
