<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Blog
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for @blog_article do |f| %>
              <%= f.text_field :title, :label => '标题' %>
              <%= f.text_area :content, :label => '正文' %>
              <%= f.submit '保存' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>