<div class="media">
  <div class="media-body">
    <div class="contents">
      <%= note.content %>
    </div>

    <div class="actions">
      <span>
      	记录于 <%= l note.created_at, :format => :long %> /
      	视频时间 <%= note.play_time_point %>
      </span>
    </div>
  </div>
</div>
