.choice-group {

}

.choice {

}

.choice-heading {
	border-bottom: dashed 1px #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.choice-status {
	float: left;
	margin-right: 10px;
}

.choice-body {
	margin-left: 20px;
	margin-bottom: 20px;
}

.choice-content {

}

.choice-option-group {
	margin-left: 20px;
}

.choice-option-group-item {

}