$timeline-axis-width: 4px;
$timeline-axis-offset-horizontal: 100px;
$timeline-status-border-width: 4px;
$timeline-status-width: 40px;

.timeline {

}

.timeline-entry {
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: $timeline-axis-width;
		background: #ddd;
		top: 0;
		left: $timeline-axis-offset-horizontal;
		margin-left: -$timeline-axis-width / 2;
	}
}

.timeline-info {
	// width: 
}

.timeline-status {
	position: absolute;
	width: $timeline-status-width;
	height: $timeline-status-width;
	background: $brand-primary;
	left: $timeline-axis-offset-horizontal;
	margin-left: -$timeline-status-width / 2;
	border-radius: 100%;
	border: solid $timeline-status-border-width #fff;
	line-height: $timeline-status-width * 0.8;
	text-align: center;
	color: #fff;
}

.timeline-body {
	min-height: 300px;
}