<li <%= raw 'class="disabled"' if page.current? %>>
  <% if page.current? %>
    <%= link_to page, 'javascript:;', {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  <% else %>
    <%= link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  <% end %>
</li>
