<div class="info">
	<div class="info-heading">
		<h2>最新的问题</h2>
		<div class="info-bar">
			<ul class="nav">
				<li class="active"><a href="#">最新</a></li>
				<li><a href="#">最热</a></li>
				<li><a href="#">高分</a></li>
				<li><a href="#">精选</a></li>
			</ul>
		</div>
	</div>
	<div class="info-body media-items">

		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object img-circle" src="<%= image_path 'avatar/1.jpg' %>" width="80" height="80">
			</a>
			<div class="media-status pull-right">
				<p><strong>7</strong></p>
				<p><span class="glyphicon glyphicon-comment"></span></p>
			</div>
			<div class="media-status pull-right">
				<p><strong>2</strong></p>
				<p><span class="glyphicon glyphicon-thumbs-up"></span></p>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a href="#">中国电商为何不支持比特币支付？</a></h4>
				<p><span class="glyphicon glyphicon-tasks"></span> 一天前 / 张三</p>
			</div>
		</div>

		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object img-circle" src="<%= image_path 'avatar/2.jpg' %>" width="80" height="80">
			</a>
			<div class="media-status pull-right">
				<p><strong>7</strong></p>
				<p><span class="glyphicon glyphicon-comment"></span></p>
			</div>
			<div class="media-status pull-right">
				<p><strong>2</strong></p>
				<p><span class="glyphicon glyphicon-thumbs-up"></span></p>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a href="#">Media heading title</a></h4>
				<p><span class="glyphicon glyphicon-tasks"></span> 一天前 / 张三</p>
			</div>
		</div>

		<ul class="pagination pull-right">
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li class="disabled"><span>...</span></li>
		  <li><a href="#">下一页</a></li>
		</ul>

	</div>
</div>