<div class="info">
  <div class="info-body media-items">
    <%= render :partial => 'ask/questions/question_list_item', :collection => @questions, :as => :question %>
    <%= paginate @questions %>
  </div>
</div>
