<div class='comments'>
  <ul>
    <%= render :collection => commentable.comments, :partial => 'ask/comments/comment' %>
  </ul>
  <%= form_for [commentable, Comment.new], :remote => true, :html => {:class => 'new-comment'} do |f| %>
    <%= f.text_area :content %>
    <%= f.submit '评论'%>
  <% end %>
</div>
