<% content_for(:title){"单元小结：#{unit_name @unit_learning}"} %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well">
				<%= sanitize @unit_learning.review %>
			</div>
		</div>
	</div>
</div>
