<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well">
				<% content_for(:title){"#{unit_name @unit_learning}-单元小结"} %>
				<%= sanitize @unit_learning.review %>
			</div>
		</div>
	</div>
</div>