<% content_for(:title){"单元提要：#{unit_name @unit_learning}"} %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to '首页', learning_root_path %></li>
        <li class="active">单元提要</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="well article">
        <%= raw @unit_learning.summary %>
      </div>
    </div>
  </div>
</div>
