<ul>
<% @blog_articles.each do |article| %>
  <li>
    <%= link_to article.title, article %>
    <div class='date'><%= l article.created_at, :format => :date_only %></div>
  </li>
<% end %>
</ul>
<%= paginate @blog_articles %>
