@import 'variables';
@import 'mixin';

#question-show {
  h1 {
    @include question-title;
  }

  .question, .answers li {
    .addition {
      div {
        margin-right: 10px;
        font-size: $minor-font-size;
        color: #999;
        float: left;
      }
    }

    .actions {
      font-size: $minor-font-size;
      margin-left: 10px;
      float: left;
    }

    .content {
      @include article;
      margin: 10px 0;
    }
  }

  .question {
    margin-bottom: $question-list-spacing;
    overflow: hidden;
  }

  .answers {
    border-top: 1px solid #ddd;
    li {
      margin: $question-list-spacing 0;
      overflow: hidden;
    }
  }

  .new-answer {
    textarea {
      width: $answer-textarea-width;
      height: 150px;
    }
    
    input[type=submit] {
      float: right;
    }
  }
}

#question-index {
  h3 {
    @include question-title;
  }

  #top-questions, #questions {
    li {
      margin-bottom: $question-list-spacing;

      .content {
        margin: 10px 0;
        @include article;
      }
    }
  }
}
