$text-padding-width: 10px;
$text-border-width: 1px;

$modal-box-width: 550px;
$modal-box-padding-width: 15px;
$modal-box-text-input-width: $modal-box-width - $text-padding-width * 2 - $modal-box-padding-width * 2 - $text-border-width * 2;

$header-height: 46px;
$main-width: 960px;

$category-width: 200px;
$main-content-width: $main-width - $category-width;

$major-font-size: 18px;
$font-size: 16px;
$minor-font-size: 14px;

$answer-textarea-width: $main-content-width - $text-padding-width * 2 - 5px;

$comment-margin-width: 12px;
$comment-indent-width: 50px;
$comment-textarea-width: $main-content-width - $text-padding-width * 2 - $comment-margin-width * 2 - $comment-indent-width - 5px ;

$question-list-spacing: 30px;
